@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    background-color: #0a0808;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#heading {
    justify-content: center;
    display: flex;
    color: #f6d1f6; 
    margin-bottom: 20px;
    font-size: 3em; 
    font-family: 'Tourney';
    text-shadow: 0 0 10px #b8b0ef, 0 0 20px #c963c9, 0 0 30px #ff00ff; 
}

.game-container {
    display: flex; 
}

.first-player{
    display: flex;
    color: #ad8225;
    text-shadow: #42560f;
    box-shadow: #b5ee24;
    margin-bottom: 20px;
    font-size: larger;
    font-family: 'Pixelify Sans';
}

#firstPlayer{
    display: flex;
    margin-left: 5px;
    color: #3a3144;
    border-radius: 20px;
    border-color: #0ff;
    border-style: solid;
    font-family: 'Pixelify Sans';
}

.tic-tac-toe {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-right: 40px; 
}

.cell {
    width: 100px;
    height: 100px;
    background-color: rgba(162, 35, 137, 0.1);
    border: 6px solid #807e81;
    display: flex;           
    align-items: center;     
    justify-content: center; 
    font-size: 36px;         
    font-weight: bold;  
    font-family: 'Grandstander';     
    color: #252424; 
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff; 
    background-color: 0.1s, box-shadow .50s;       
    cursor: pointer;        
}

.cell:hover {
    background-color: rgba(0, 255, 255, 0.3); box-shadow: 0 0 15px #0ff, 0 0 30px #0ff, 0 0 45px #0ff;
}

#status {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #c79cf1;
    text-shadow: 0 0 10px #6b2667;
    font-size: x-large;
    font-family: 'Pixelify Sans';
    margin-top: 30px;
    margin-bottom: 10px; 
}

button {
    color: #8f3670;
    padding: 10px 20px;
    font-size: 20px;
    background: #1c231f;
    margin-top: 10px;
    border-radius: 20px;
    border: none #c79cf1;
    font-family: 'Varela Round';
}

button:hover {
    background-color: #b8c39b; 
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8f3670;
    font-family: 'Pixelify Sans';

}

#scoreTable {
    margin: 0;
    font-size: 24px;
    text-align: center;
    border-collapse: collapse;
}

#scoreTable th, #scoreTable td {
    padding: 10px;
    border: 2px solid #c79cf1;
}
