body {
    background-color: #5defab;  
    margin: 0; 
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.tic-tac-toe {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
}

#heading {
    justify-content: center;
    display: flex;
    color: #000000;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #d7ef03;
    border: 6px solid #8800FF;
    display: flex;           
    align-items: center;     
    justify-content: center; 
    font-size: 36px;         
    font-weight: bold;       
    color: #252424;         
    cursor: pointer;        
}

.cell:hover {
    background-color: #e0e0e0;
}

#status {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #8800FF;
    font-size: x-large;
    margin-bottom: 20px; 
}

button {
    color: rgb(176, 161, 161);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #8800FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;  
}

button:hover {
    background-color: #6a00cc; 
}
